.admin-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-header h1 {
    font-size: 64px;
    margin: 0.3em 0;
}

.admin-header h3 {
    font-size: 32px;
    margin-bottom: 1em;
}

.admin-category {
    background-color: lightgray;
    border-radius: 5px;
    width: 75vw;
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
}

.admin-category a {
    text-decoration: none;
    padding: 0.1em;
    color: rgb(0, 119, 255);
    border: 2px solid rgb(0, 119, 255);
    border-radius: 10px;
    font-size: 24px;
}

.admin-category a:hover {
    color: rgb(0, 86, 184);
    border: 2px solid rgb(0, 86, 184);
}

.admin-back-button {
    margin-top: 2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
