body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/background.png');
    background-attachment: fixed;    
}

main {
    display: flex;
    flex-direction: row;
}

/* Filter section elements*/

.filter-section {
    background-color: #2e2c3a7e;
    width: 20vw;
    height: auto;
    border-radius: 15px;
}

.filter-content {
    padding-left: 2em;
}

.filter-content h3 {
    color: rgb(180, 180, 180);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 1em;
    padding-top: 1em;
}

.filter-content form label {
    color: white;
}

.filter-content div input {
    background-color: #353253;
    color: white;
    margin-top: .4em;
    margin-bottom: .4em;
    padding: 8px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    width: 300px;
}
.filter-content div input::placeholder{
    color: #a7a3d1;
}

.filter-content div{
    margin-bottom: 1em;
}

.category-button{
    display: flex;
    flex-direction: row;
}

.validateButton {
    background-color: orange;
    color: black;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    padding: 0.3em 0.7em 0.3em 0.7em;
    border-radius: 5px;
    cursor: pointer;
}

.validateButton:hover{
    background-color: rgb(255, 183, 48);
}
.validateButton:active{
    background-color: rgb(202, 132, 2);
}

.error-message {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

/* Video section elements */

.video-section {
    width: 80vw;
    height: auto;
}
.video-section h3{
    color: rgb(180, 180, 180);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 1em;
    padding-top: 1em;
}

.video-content {
    padding-left: 2em;
}

.video-list {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
}