.video-card {
    width: 420px;
    height: 360px;
    background-color: #D27A34;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.video-card-core {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-card iframe {
    border-radius: 5px;
}

.video-profile-picture {
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: auto;
}

.video-title {
    font-size: 18px;
    margin-top: 10px;
    color: black;
    font-weight: 600;
}

.video-card-tags-infos {
    align-self: left;
    margin-left: 1.4em;
}

.video-tags {
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.video-tags li {
    display: inline;
    margin-right: 5px;
    background-color: #353253;
    padding: 2px 6px;
    border-radius: 3px;
}

.video-tags li a {
    text-decoration: none;
    color: white;
}

.video-author {
    font-style: italic;
    color: black;
    margin-bottom: 0.4em;
}

.video-views {
    font-weight: bold;
    color: #333;
}

.video-card-bottom {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.video-card-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.likeButton.off {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #353253;
    border: 1px solid grey;
    border-radius: 5px;
}

.likeButton.on {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #1500ff;
    border: 1px solid grey;
    border-radius: 5px;
    filter: invert(1);
}

.likeButton.off:hover {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #504d6d;
    border: 1px solid grey;
    border-radius: 5px;
}

.likeButton.on:hover {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #504d6d;
    border: 1px solid grey;
    border-radius: 5px;
    filter: invert(1);
}

.likeButton.off:active {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #736f92;
    border: 1px solid grey;
    border-radius: 5px;
}

.likeButton.on:active {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #736f92;
    border: 1px solid grey;
    border-radius: 5px;
    filter: invert(1);
}

.favouriteButton.off {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #353253;
    border: 1px solid grey;
    border-radius: 5px;
}

.favouriteButton.off:hover {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #504d6d;
    border: 1px solid grey;
    border-radius: 5px;
}

.favouriteButton.off:active {
    width: 30px;
    height: 30px;
    padding: 2px;
    background-color: #736f92;
    border: 1px solid grey;
    border-radius: 5px;
}