{% extends 'base.html.twig' %}

{% block title %}New Videos
{% endblock %}

{% block style_add %}
	<link rel="stylesheet" href="{{asset('css/videoaddform.css')}}">
{% endblock %}

{% block body %}

	{% if partOne %}
		{{ include('videos/_form.html.twig') }}
	{% else %}
		{{ include('videos/_formPart2.html.twig') }}
	{% endif %}

	<a href="{{ path('app_videopage') }}">Back to main page</a>
{% endblock %}
