{% block style_add %}
	<link rel="stylesheet" href="{{asset('css/navbar.css')}}">
{% endblock %}

{% block header %}
	<nav class="navbar">
		<div class="navbar-leftside">
			<div class="navbar-logo">
				<img src="{{asset('images/SF6Logo.png')}}" href="#" alt="Logo">
			</div>
			<ul class="navbar-links">
				<li>
					<a href="#">Tournois</a>
				</li>
				<li>
					<a href="#">Créateur</a>
				</li>
				<li>
					<a href="#">Vidéos</a>
				</li>
			</ul>
		</div>

		<div class="navbar-central">
			<div class="navbar-search">
                <button><img src="{{asset('images/glass.png')}}"></button>
				<input type="text" placeholder="Rechercher...">
			</div>
		</div>
		<div class="navbar-rightside">
			<div class="navbar-login">
				<a href="#">Se Connecter</a>
			</div>
		</div>
	</nav>
{% endblock %}
