{% block header %}
	<nav>
		<div class="navbar-container">
			<div class="navbar-left">
				<img class="navbar-logo" href="#" src="{{asset('images/SF6Logo.png')}}" alt="Accueil Adrar"/>
				<a href='#'><p>Tournois</p></a>
				<a href='#'><p>Créateurs</p></a>
				<a href='#'><p>Vidéos</p></a>
			</div>

			<div class="navbar-center">

				<div class="form">
					<span class="icon">
						<img class="fas" src="{{asset('images/glass.png')}}"/>
					</span>
					<div class="form-group">
						<input type="text" class="search-input" placeholder="Type to search">
						{# <button type="submit" class="navbar-search"><img src="{{asset('images/magnifying-glass-solid.png')}}"/></button> #}
					</div>
				</div>
			</div>

			<div class="navbar-right">
				<form action=""></form>
				<button class="navbar-connect">Se connecter</button>
			</div>
		</div>
	</nav>
{% endblock %}
