{% block style_add %}
    <link rel="stylesheet" href="{{asset('css/videocard.css')}}">
{% endblock %}

{% block videoCard %}
	<div class="video-card">
		<img src="{{asset('images/CrimsonLukeGuide.png')}}" alt="Vignette de la vidéo">
		<h2 class="video-title">Titre de la vidéo</h2>
		<ul class="video-tags">
			<li>tag1</li>
			<li>tag2</li>
			<li>tag3</li>
		</ul>
		<p class="video-author">Auteur de la vidéo</p>
		<p class="video-views">1 000 000 vues</p>
	</div>
{% endblock %}
